{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "class-methods-use-this": 0,
    "func-names": [2, "never"],
    "func-style": [2, "expression", { "allowArrowFunctions": true }],
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-alert": 0,
    "no-await-in-loop": 0,
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-param-reassign": 0,
    "no-restricted-globals": 0,
    "no-throw-literal": 0,
    "strict": [0, "global"]
  }
}
